<div class="container mb-3">
  <div class="header">
    <div class="header-main-image bg-cover"
      style="background-image: url(https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=786581a33fd6c9343735655439ce2e5a&amp;auto=format&amp;fit=crop&amp;w=1380&amp;q=80)">
      <img src="assets/images/lg-想吃甜點是不需要理由的.svg" width="89" class="header-image-context" alt="">
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-5">
      <h2 class="bg-primary text-white text-center h4 py-3 mb-0">甜點類別</h2>
      <div class="list-group text-center">
        <a [routerLink]="['/product']" class="list-group-item list-group-item-action h4 active">
          所有甜點
        </a>
        <a on-click="productSort('featured')" class="list-group-item list-group-item-action h4">本日精選</a>
        <a on-click="productSort('popular')" class="list-group-item list-group-item-action h4">人氣推薦</a>
        <a on-click="productSort('newList')" class="list-group-item list-group-item-action h4">新品上市</a>
        <a on-click="productSort('isCake')" class="list-group-item list-group-item-action h4">蛋糕類</a>
        <a on-click="productSort('isSweets')" class="list-group-item list-group-item-action h4">點心類</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row mb-5">
        <div class="col-md-6 mb-5" *ngFor="let product of disPlayProductList; let i=index">
              <div class="card">
                <div class="card-img-top" style="height: 315px; background-image: url({{product['productPic']}});">
                  <div class="item-tag">
                    <strong>{{currentClass}}</strong>
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{product['productName']}}</h4>
                  <p class="card-text">
                    <a class="d-flex justify-content-start">庫存: {{product['reserve']}}</a>
                    <strong class="d-flex justify-content-end">NT {{product['productPrice']}} 元</strong>
                  </p>
                </div>
                <a [routerLink]="['/carts']" class="h4 mb-0 btn-primary-lighter card-footer d-flex justify-content-center">
                  加入購物車
                </a>
              </div>
        </div>
      </div>
      <nav aria-label="Page nav" class="d-flex justify-content-center">
        <ul class="pagination">
          <ng-container *ngFor="let item of pageArray; let i=index">
              <li class="page-item"><a class="page-link" on-click = "changePage(item)" >{{item}}</a></li>
          </ng-container>

        </ul>
      </nav>
    </div>
  </div>
</div>
