<div class="container mb-3">
  <div class="header">
      <div class="header-main-image bg-cover"
          style="background-image: url(https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=786581a33fd6c9343735655439ce2e5a&amp;auto=format&amp;fit=crop&amp;w=1380&amp;q=80)">
          <img src="assets/images/lg-想吃甜點是不需要理由的.svg" width="89" class="header-image-context" alt="">
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
      <div class="col-md-4 mb-5">
          <h2 class="bg-primary text-white text-center h4 py-3 mb-0">甜點類別</h2>
          <div class="list-group text-center">
              <a href="#" class="list-group-item list-group-item-action h4 active">
                  所有甜點（48）
              </a>
              <a href="#" class="list-group-item list-group-item-action h4">本日精選（10）</a>
              <a href="#" class="list-group-item list-group-item-action h4">人氣推薦（26）</a>
              <a href="#" class="list-group-item list-group-item-action h4">新品上市（12）</a>
              <a href="#" class="list-group-item list-group-item-action h4 disabled">絕版品</a>
          </div>
      </div>
      <div class="col-md-8">
          <div class="row mb-5">
              <div class="col-md-6 mb-5">
                  <div class="card">
                      <div class="card-img-top"
                          style="height: 315px; background-image: url(https://images.unsplash.com/photo-1490474504059-bf2db5ab2348?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cad6d3de8adbdf6298d4ca5d094f8c6&auto=format&fit=crop&w=1350&q=80);">
                          <div class="item-tag">
                              <strong>本日精選</strong>
                          </div>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">奇異果奶</h5>
                          <p class="card-text"><strong class="d-flex justify-content-end">NT $450</strong></p>
                      </div>
                      <a href="#" class="h4 mb-0 btn-primary-lighter card-footer d-flex justify-content-center">
                          加入購物車
                      </a>
                  </div>
              </div>
              <div class="col-md-6 mb-5">
                  <div class="card">
                      <div class="card-img-top"
                          style="height: 315px; background-image: url(https://images.unsplash.com/photo-1534073737927-85f1ebff1f5d?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=1204e5551548223af82981f0025984ef&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80);">
                          <div class="item-tag">
                              <strong>本日精選</strong>
                          </div>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">焦糖瑪卡隆</h5>
                          <p class="card-text"><strong class="d-flex justify-content-end">NT $450</strong></p>
                      </div>
                      <a href="#" class="h4 mb-0 btn-primary-lighter card-footer d-flex justify-content-center">
                          加入購物車
                      </a>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="card mb-5">
                      <div class="card-img-top"
                          style="height: 315px; background-image: url(https://images.unsplash.com/photo-1525059337994-6f2a1311b4d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ce5bbf66bdb4ed3b6965f0b3618aa43&auto=format&fit=crop&w=654&q=80);">
                          <div class="item-tag">
                              <strong>本日精選</strong>
                          </div>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">牛奶尬圈</h5>
                          <p class="card-text"><strong class="d-flex justify-content-end">NT $450</strong></p>
                      </div>
                      <a href="#" class="h4 mb-0 btn-primary-lighter card-footer d-flex justify-content-center">
                          加入購物車
                      </a>
                  </div>
              </div>
          </div>
          <nav aria-label="Page nav" class="d-flex justify-content-center">
              <ul class="pagination">
                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
</div>
