<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="h4 text-center bg-primary-lighter p-3">您的購物車</h1>
      <div class="cart-row d-flex flex-column flex-md-row py-3" *ngFor="let item of cartsProduct">
        <div class="d-flex align-items-center flex-grow-1 mr-md-3">
          <div class="my-4 mr-4 flex-grow-1 flex-md-grow-0">
            <div class="cart-image" style="background-image: url({{item.productPic}})">
            </div>
          </div>
          <div class="d-flex align-items-md-center flex-column flex-md-row flex-md-grow-1">
            <div class="flex-fill mr-md-4">
              <span class="h5">{{item.productName}}</span><br>
              <span>NT$ {{item.productPrice}}</span>
            </div>
            <div class="ml-md-auto mt-3 mt-md-0" style="width: 145px;">
              <div class="input-group carts-input-group">
                <div class="input-group-prepend">
                  <button on-click='reduceAmount(item.productName)' type="button"
                    class="btn btn-brand-light text-primary-light material-icons text-base-size">remove</button>
                </div>
                <input type="text" class="form-control" value={{item.amount}}>
                <div class="input-group-append">
                  <button on-click='addAmount(item.productName)' type="button"
                    class="btn btn-brand-light text-primary-light material-icons text-base-size">add</button>
                </div>
              </div>
            </div>
          </div>


          <div class="price ml-md-auto align-items-center py-3 justify-content-end d-flex flex-md-row-reverse">
            <a class="btn d-none d-md-block"><span on-click ='deleteCarts(item.productName)' class="material-icons">delete_outline</span></a>
            <span class="h5 mb-0 mr-md-3">NT$ {{item.productPrice*item.amount}}</span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="msg-box p-md-3">
        <h1 class="h4 text-center p-md-3 border-bottom">訂單摘要</h1>
        <div class="d-flex justify-content-between mb-2">
          <span>小計</span>
          <span>NT$ {{totalAmount}}</span>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <span>運費</span>
          <span>NT$ 30</span>
        </div>
        <div class="d-flex justify-content-between">
          <strong>總計:</strong>
          <strong>NT {{totalAmount+30}}</strong>
        </div>
      </div>
      <a [routerLink]="['..','checkout']" class="btn btn-lg btn-block" style="background-color: #FFE180;
          border-color: #FFE180;">結帳</a>
    </div>
  </div>
</section>
