<div class="container my-md-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="py-3 h1 bg-primary text-center d-block d-md-none mb-0" style="color: white;">
        會員登入
      </h1>
      <div class="row flex-md-row-reverse">
        <div class="col-md-6">
          <h1 class="py-3 h1 bg-primary text-center d-none d-md-block mb-0" style="color: white;">
            會員註冊
          </h1>
          <form class="bg-primary p-5">
            <div class="form-group">
              <input name="userName" [(ngModel)]="rUserName" type="email" class="form-control big-input"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter UserName">
            </div>
            <div class="form-group">
              <input name="email" [(ngModel)]="rEmail" type="email" class="form-control big-input"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input name="pass" [(ngModel)]="rPassword" type="password" class="form-control big-input"
                id="exampleInputPassword1" placeholder="Password">
            </div>
          </form>
          <button on-click="doRegister()" class="btn btn-lg btn-block" style="background: #ffe180; border-color: #ffe180;">
            <h1 class="h4 text-center btn-green-text">註冊</h1>
          </button>

        </div>
        <div class="col-md-6">
          <h1 class="py-3 h1 bg-primary text-center d-none d-md-block mb-0" style="color: white;">
            會員登入
          </h1>
          <form class="bg-primary p-5">
            <div class="form-group">
              <input name="email" [(ngModel)]="email" type="email" class="form-control big-input"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input name="pass" [(ngModel)]="password" type="password" class="form-control big-input"
                id="exampleInputPassword1" placeholder="Password">
            </div>

          </form>
          <button on-click="doLogin()" class="btn btn-lg btn-block" style="background: #ffe180; border-color: #ffe180;">
            <h1 class="h4 text-center btn-green-text">登入帳號</h1>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
